.top-header-promotion{
    background-color: #f7f3ea;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 10px;
    letter-spacing: .35px;
    padding: 5px 0 1px 1px;
}
p{
    margin-bottom: 0;
}
.page-wrapper .page-header{
    border: 0;
}
.page-wrapper .page-header .panel.wrapper{
    border: 0;
}
.page-wrapper .page-header .header.panel{
    padding: 0;
}
.page-header .header.content{
    display: flex;
    padding: 0;
}
.header.content .logo{
   margin: -10px auto 0;
}
.nav-sections{
    background: none;
}
.nav-sections .navigation{
    background: none;
    text-align: center;
}
.panel.header .header.links{
    display: flex;
    align-items: center;
}
.header.links>li:hover,
.header.links>div:hover{
    opacity: .5;
    cursor: pointer;
}
.header.links li:first-of-type a,
.header.links li:nth-of-type(2) a{
    text-indent: -9999px;
    display: block;
    width: 18px;
    height: 17px;
}
.action.showcart{
    background: url("../images/header-icons/panier.png") no-repeat;
    display: block;
    width: 19px;
    height: 19px;
}
.minicart-wrapper .action.showcart::before,
.minicart-wrapper .action.showcart.active::before{
    content: "";
}
.block.block-search{
    background: url("../images/header-icons/loupe.png") no-repeat;
    display: block;
    width: 19px;
    height: 19px;
    position: relative;
    padding: 0;
}
.block.block-content{
    min-width: max-content;
    position: absolute;
    bottom: -70px;
    right: 0;
    display: none;
}
.block.block-search:hover > .block.block-content{
    display: block;
}
.header.links li:first-of-type a{
    background: url("../images/header-icons/compte.png") no-repeat;
}
.header.links .link.wishlist{
    background: url("../images/header-icons/coeur.png") no-repeat;
    order: 3;
}
.header.links li:first-of-type{
    order: 1;
}
.header.links .minicart-wrapper{
    order: 4;
}
.header.links .block.block-search{
    order: 2;
}
.sections.nav-sections{
    margin: 0;
}
.page-footer{
    background-color: #f7f3ea;
}
.footer.content{
    border: 0;
    margin: 0;
}
.footer-navigation{
    display: flex;
}
.footer-navigation-column li>a{
    margin-right: 25px;
    text-decoration: none;
    color: black;
}
.footer-navigation-column li>a:hover{
    opacity: .5;
}
.footer-navigation-column .facebook_link{
    background: url("../images/footer-icons/icon_facebook.png") no-repeat center left;
    display: block;
    padding-left: 18px;
}
.footer-navigation-column .instagram_link{
    background: url("../images/footer-icons/icon_instagram.png") no-repeat center left;
    display: block;
    padding-left: 18px;
}
.footer-navigation-title,
.block.newsletter .title{
    display: block;
    text-transform: uppercase;
    text-decoration: underline;
}
.block.newsletter .field .control::before{
    content: "";
}
#newsletter{
    background: none;
    padding: 0;
    border: 0;
    border-bottom: 1px solid black;
    color: lightgrey;
}
.block.newsletter .form.subscribe{
    display: flex;
    flex-flow: column;
}
.block.newsletter .actions{
    padding-top: 10px;
}
.action.primary{
    background: black;
    text-transform: uppercase;
}
.page-footer .footer.content{
    max-width: 1366px;
    padding-left: 36px;
    padding-right: 26px;
}
.page-header .panel.wrapper .header.panel{
    max-width: 1324px;
    margin-top: 15px;
}
.panel.wrapper .header.panel > .header.links > li {
    margin: 0 0 0 10px;
    list-style-type: none;
}
.navigation .level0 > a.level-top {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    margin: -5px 0 5px 0;
}
.column.main h2{
    margin: 0 0 1.8rem;
}
.page-main .columns .column.main {
    padding-bottom: 0;
}
.footer-navigation-column .footer-navigation-title{
    margin: -3px 0;
    font-size: 13px;
}
.footer-navigation .footer-navigation-column:first-of-type ul li:last-of-type{
    margin-top: 8px;
}
.footer-navigation .footer-navigation-column ul{
    margin: 20px 0 20px 0;
    font-size: 11px;
    letter-spacing: .7px;
}
.footer-navigation .footer-navigation-column:first-of-type{
    margin-right: 18px;
}
.footer-navigation .footer-navigation-column:nth-of-type(2){
    margin-right: 14px;
}
.footer-navigation .footer-navigation-column:nth-of-type(3){
    margin-right: 15px;
}
.footer.content .block.newsletter .title strong{
    padding-left: 4px;
    font-size: 12px;
    letter-spacing: .3px;
}
.footer.content .block.newsletter {
    width: 20%;
    margin-top: -6px;
}
.footer.content .block.newsletter .form.subscribe{
    padding-left: 5px;
}
.block.newsletter .form.subscribe .action.subscribe{
    margin-top: -1px;
    padding: 6px 30px;
    border: 1px solid black;
    border-radius: 0;
    font-size: 11px;
}
@media screen and (max-width: 767px){
    .images .image_block .hero_product {
        font-size: 32px;
    }
    .footer-navigation {
        flex-flow: column;
    }
    .footer.content .block.newsletter {
        width: 100%;
    }
}
