//
// Links
// ______________________________

@link__hover__color: @autostore_color-alizarin;
@link__active__color: @autostore_color-alizarin;
@link__color: @autostore_color-black;

//
//  Buttons
//  _____________________________________________

@button__color: @autostore_color-white;
@button__hover__color: @autostore_color-black;
@button__background: @autostore_color-alizarin;
@button__border: 1px solid @autostore_color-alizarin;

//
// Typography
// ______________________________________________

@h1__font-size: 22px;
@h2__font-size: 20px;
@h3__font-size: 18px;
@h4__font-size: 17px;
@h5__font-size: 16px;
@h5__font-size: 15px;
@text__color: @autostore_color-nero_light;
@icon-font__color: @autostore_color-alizarin;
@border-color__base: @color-gray90;
